@import "tailwindcss";
@layer components{
    .font{
        font-family: 'Merriweather', serif;
    }
    .font-ply{
        font-family: 'Playfair Display', serif;
         font-style: italic;
        font-weight: 500;
    }
    .text-style-italic {
    font-style: italic;
}
}